In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('transactions.csv')

In [3]:
df.head()

   Unnamed: 0     CONTRACTOR    STATUS  SUM
0           0      Acme, Inc   WAITING  415
1           1  Umbrella, Inc   WAITING  646
2           2  Umbrella, Inc        OK  780
3           3  Umbrella, Inc  CANCELED  887
4           4  Umbrella, Inc        OK  255

In [4]:
sorted_df = df[df.STATUS=='OK'].sort_values('SUM', ascending=False)
sorted_df.head(3)

      Unnamed: 0     CONTRACTOR STATUS     SUM
5085        5085      Acme, Inc     OK  100500
4451        4451  Umbrella, Inc     OK    1000
1348        1348      Acme, Inc     OK     999

In [5]:
total_sum = sum(df[(df.STATUS=='OK')&(df.CONTRACTOR=='Umbrella, Inc')]['SUM'])
total_sum

925719