In [1]:
import pandas as pd

In [4]:
columns = ['teacher', 'group', 'grade']
df = pd.read_csv('students.csv', names=columns, header=None, delimiter=';')
df.head()

  teacher  group  grade
0   prep1    751      8
1   prep1    751      5
2   prep1    751      4
3   prep1    751      5
4   prep1    751      4